<!DOCTYPE html>
<html>
  <head>

    <title>taitoru</title>

    <%= csrf_meta_tags_conflict %>

    <%= stylesheet_link    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
